<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/styles.css">
    <link rel="stylesheet" href="/public/styles/portifolio.css">
    <link rel="stylesheet" href="/public/styles/menu.css">
    
   
    <title>Portfólio 1.0 mil grau</title>
    
</head>
<body>

    <section class="sessaoCabecalho">

        <header>
           
           <div class="fixarTop">
              
               <nav class="navMenu">

                   <ul class='bordasMenu'>
               
                   <li> <a href="index.html">Principal</a> </li>
                   <li> <a href="">Linguagem Geral</a> </li>
                   <li> <a href="">Contatos</a> </li>
                   <li> <a href="">Privacidade</a> </li>

                   <li style="position: relative;"> <a href="">Portfólio</a> 
                        <ul class="subMenu">
                            <li><a href="">Anderson</a></li>
                            <li><a href="">Débora</a/a></li>
                            <li><a href="">Diego</a></li>
                            <li><a href="">Elbis</a></li>
                        </ul>
                    </li>
              
                   </ul>
                   <input type="checkbox" id="check">
                   <label class="labelHeader" for="check"><span></span></label>
               </nav>

               <div class="menuLateral">
                   <p><a href="">Login <i class="fas fa-sign-in-alt"></i></a></p>
                   <p><a href="">Fotos <i class="fas fa-images"></i></a></p>
                   <p><a href="">Compartilhe <i class="fas fa-share-alt-square"></i></a></p>
                   <p><a href="">Blogs <i class="fas fa-blog"></i></a></p>
                   <p><a href="">Localização <i class="fas fa-map-marker-alt"></i></a></p>
               </div>
               
           </div>
       
           
       </header>
    </section>

    <div id="main-perfil">
        <main>
            <header>
                <div class="ola">
                    <h5>Olá, eu sou</h5>
                </div>
        
                <h1>Débora Taveira</h1>
                <p>Desenvolvedora Web</p>
            </header>
           
            <div class="descricao-user">
                <p>
                    <span class="email"></span>
                    deborataveira@gmail.com
                </p>
                <p>
                    <span class="phone"></span> 
                    +55 69 9 8116-9069
                </p>
                <p>
                    <span class="address"></span> 
                    Porto Velho, Rondônia, Brazil
                </p>
            </div>
    
            <div class="redes-sociais">
                <a href="#" class="facebook">
                    <img src="/public/images/facebook.png" 
                    alt="Facebook" width="40"
                    onmouseover="mouseEmCima(this)"
                    onmouseout="mouseFora(this)">
                </a>
                <a href="#" class="instagram">
                    <img src="/public/images/instagram.png" 
                    alt="Instagram" width="40"
                    onmouseover="mouseEmCima(this)"
                    onmouseout="mouseFora(this)">
                </a>
                <a href="#" class="github">
                    <img src="/public/images/github.png" 
                    alt="GitHub" width="40"
                    onmouseover="mouseEmCima(this)"
                    onmouseout="mouseFora(this)">
                </a>
            </div>
        </main>

        <div class="image-perfil">
            <img src="/public/images/debora.jpg" alt="Imagem de Débora Taveira" width="200">
        </div>
    </div>

    <footer class="dedsec">
        <p>Dedsec - Todos os direitos reservados</p>
    </footer>

    <script src="../menuLateral.js"></script>
    <script src="https://kit.fontawesome.com/7591838c1e.js" crossorigin="anonymous"></script>
    <script src="../portifolio.js"></script>
</body>
</html>