<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/styles.css">
    <link rel="stylesheet" href="/public/styles/menu.css">
    <link rel="stylesheet" href="/public/styles/menu-responsive.css">
    <link rel="stylesheet" href="/public/styles/media-query.css">
   
    <title>Portfólio Devs</title>
</head>

<body>
   <nav id="navbar">
       <input type="checkbox" id="check">
       <label for="check" class="checkbtn">
           <i class="fas fa-bars"></i>
       </label>
       <!-- Essa label do logo só fica visível na versão mobile -->
       <label class="logo">Portfólio Devs</label>

       <ul>
            <li><a class="active" href="index.html">Principal</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Portfólios</a>
                <ul class="subMenu">
                    <li><a href="">Anderson</a></li>
                    <li><a href="/src/views/portfolio-debora.html">Débora</a/a></li>
                    <li><a href="">Diego</a></li>
                    <li><a href="">Elbis</a></li>
                </ul>
            </li>
            <li><a href="#">Contato</a></li>
       </ul>
   </nav>

    <header id="cards">
        <section class="cards">
            <div class="info__card">
                <div class="card__image">
                    <img src="/public/images/image.jpeg" alt="Imagem pessoal">
                </div>
                <div class="content">
                    <h1>Anderson Teala</h1>
                </div>
                
                <div class="ling">
                    <img src="/public/images/html.png" alt="HTML5">
                    <img src="/public/images/css.png" alt="CSS">
                    <img src="/public/images/js.png" alt="JAVASCRIPT">
                    <img src="/public/images/python.png" alt="PYTHON">
                    <img src="/public/images/github2.png" alt="GITHUB">
                    <img src="/public/images/docker.png" alt="DOCKER">
                </div>
                <div class="button">
                    <button>Ir para o portfólio</button>
                </div>
            </div>

            <div class="info__card">
                <div class="card__image">
                    <img src="/public/images/image2.jpg" alt="Imagem pessoal">
                </div>
                <div class="content">
                    <h1>Diego</h1>
                </div>
                
                <div class="ling">
                    <img src="/public/images/html.png" alt="HTML5">
                    <img src="/public/images/css.png" alt="CSS">
                    <img src="/public/images/js.png" alt="JAVASCRIPT">
                    <img src="/public/images/python.png" alt="PYTHON">
                    <img src="/public/images/github2.png" alt="GITHUB">
                    <img src="/public/images/docker.png" alt="DOCKER">
                </div>
                <div class="button">
                    <button>Ir para o portfólio</button>
                </div>
            </div>


        </section>

        <section class="cards">
            <div class="info__card">
                <div class="card__image">
                    <img src="/public/images/debora.jpg" alt="Imagem pessoal">
                </div>
                <div class="content">
                    <h1>Débora Taveira</h1>
                </div>
                
                <div class="ling">
                    <img src="/public/images/html.png" alt="HTML5">
                    <img src="/public/images/css.png" alt="CSS">
                    <img src="/public/images/js.png" alt="JAVASCRIPT">
                    <img src="/public/images/python.png" alt="PYTHON">
                    <img src="/public/images/github2.png" alt="GITHUB">
                    <img src="/public/images/docker.png" alt="DOCKER">
                </div>
                <div class="button">
                    <button>Ir para o portfólio</button>
                </div>
            </div>

            <div class="info__card">
                <div class="card__image">
                    <img src="/public/images/image3.jpeg" alt="Imagem pessoal">
                </div>
                <div class="content">
                    <h1>Elbis</h1>
                </div>
                
                <div class="ling">
                    <img src="/public/images/html.png" alt="HTML5">
                    <img src="/public/images/css.png" alt="CSS">
                    <img src="/public/images/js.png" alt="JAVASCRIPT">
                    <img src="/public/images/python.png" alt="PYTHON">
                    <img src="/public/images/github2.png" alt="GITHUB">
                    <img src="/public/images/docker.png" alt="DOCKER">
                </div>
                <div class="button">
                    <button>Ir para o portfólio</button>
                </div>
            </div>


        </section>
    </header>
    
    <div class="info__card02">
        <div class="">

        </div>
    </div>
</body>
<script src="../menuLateral.js"></script>
<script src="https://kit.fontawesome.com/7591838c1e.js" crossorigin="anonymous"></script>

    <footer class="dedsec">
        <p>Dedsec - Todos os direitos reservados</p>
    </footer>
</body>
</html>