#cards-portfolio {
    margin-top: 20px;
}

#cards-portfolio ul {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

#cards-portfolio ul li {
    background: #fff;
    color: #000;

    width: 300px;
    padding: 20px;
    border-radius: 15px;
}