@media (max-width: 1086px) {
    #navbar ul li a {
        font-size: 18px;
    }
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    #navbar ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    #navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ccc;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    #navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #navbar ul li a {
        font-size: 28px;
        color: #000;
    }

    #navbar ul li a.active,
    #navbar ul li a:hover {
        text-decoration: none;
        color: #01aeb1;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

@media (max-width: 425px) {
    label.logo {
        font-size: 20px;
        padding: 0;
        margin-left: 40px;
    }

    .checkbtn {
        margin-right: 20px;
    }
}