@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

:root {
  --color-back: #282a36;
  --color-line: #44475a;
  --color-selection: #44475a;
  --color-selection: #f8f8f2;
  --color-comment: #6272a4;
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;

  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-red: #ff5555;
  --color-yellow: #f1fa8c;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-back);
  color: #f8f8f2;
}

/*== SUBTITLE ==*/

.subtitle {
  text-align: center;
  padding: 100px 0 70px;
  font-size: 30px;
  text-transform: uppercase;
  color: #00CED1;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}


/*== CARDS ==*/
header#cards {
  padding-top: 160px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 10px 50px 10px;
}

.info__card {
  text-align: center;
  padding: 20px;
  background: var(--color-line);
  border-radius: 10px;
  width: 550px;
  margin: auto;
  box-shadow: 2px 3px 10px black;
  margin-bottom: 20px;

}

.info__card h1 {
  color: white;
  font-size: 28px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  line-height: 50px;
}

.info__card:hover {
  border: 1px solid #fff;
}

.ling {
  height: auto;
  line-height: 30px;
}

.ling img {
  height: 50px;
  padding: 10px;
  transition: 0.4s;
}

.ling > img:hover {
  height: 45px;
  width: 45px;
  padding-right: 0;
  padding-bottom: 0;
}

.card__image img {
  height: 300px;
  border-radius: 14px;
}

.button button {
  font-size: 24px;
  padding: 14px;
  border-radius: 14px;
  border: 4px solid #ccc;
  transition: 0.4s;
  color:  #00ced1;
  background: none;
}

.button button:hover {
  background-color: #00CED1;
  color: #282a36;
  border: 4px solid #00CED1;
}

/*== footer ==*/

.dedsec p {
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 24px;
  background-color: var(--color-line);
}
